html {
  font-family: 'Kalam', cursive;
  font-size: 12px;
  font-weight: 400;
  --grid-cols: 1;
  --grid-rows: 1;
  --red: #e63737;
  --green: #02ad02;
  --blue: #1080ff;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, #ff00004d 0%, #00ff004d 50%, #0000ff4d 100%);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#container {
  width: 600px;
  height: 600px;
  border: 5px solid #00000033;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.square {
  border: 0.5px solid #0000001a;
  background-color: white;
}

#logo {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

#tools {
  background-color: #91c9df;
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  font-family: sans-serif;
}

button {
  color: white;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 700;
  box-shadow: 0 0 5px black;
  border: none;
  cursor: pointer;
}

button img {
  width: 50%;
}

button:hover {
  transform: scale(1.05);
}

#square {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-color: black;
}

#btn-container {
  display: flex;
  gap: 2rem;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green)
}

.blue {
  color: var(--blue);
}

/* SLIDER */

.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 20px;
  background: white;
  box-shadow: 0 0 5px black;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #0969fa;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #0969fa;
  cursor: pointer;
}