html {
  font-family: 'Kalam', cursive;
  font-size: 12px;
  font-weight: 400;
  --grid-cols: 1;
  --grid-rows: 1;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#container {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.square {
  border: 1px solid black;
}

#logo {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

#tools {
  background-color: rgb(145, 201, 223);
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

button {
  color: white;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 0 0 5px black;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#btn-container {
  display: flex;
  gap: 2rem;
}

#black-btn {
  background-color: black;
}

#eraser-btn, #clear-btn {
  color: black;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

/* SLIDER */

.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 20px;
  background: white;
  box-shadow: 0 0 5px black;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #0969fa;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #0969fa;
  cursor: pointer;
}